.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.position-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
